In [1]:
import pandas as pd

In [13]:
paises = pd.read_csv("paises.csv", index_col="sigla")

In [14]:
paises

              nome continente  extensao  corVerde
sigla
AR       Argentina    America      2780         0
BR          Brasil    America      8511         1
FR          Franca     Europa       644         0
IT          Italia     Europa       301         1
UK     Reino Unido     Europa       244         0

In [15]:
dados = {'codigo': [1001,1002,1003,1004,1005],'nome': ['Leite','Café','Biscoito','Chá','Torradas']}
produtos = pd.DataFrame(dados)

In [17]:
produtos.to_csv('produtos.csv', sep='\t',index=False)

In [22]:
flags = pd.read_csv('flags.txt', sep='\t')

In [23]:
flags

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [25]:
flags.to_csv('flags2.csv', sep='\t',index=False)

In [26]:
flags2 = pd.read_csv('flags2.csv', sep='\t')

In [27]:
flags2

,name,landmass,zone,area,population,language,religion,bars,stripes,colours,...,saltires,quarters,sunstars,crescent,triangle,icon,animate,text,topleft,botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [30]:
print('head():'); 
print(flags.head())
print('-----------------------------------------------')
#imprime as últimas linhasprint('tail():'); 
print(flags.tail())
print('-----------------------------------------------')
#------------------------------------------------------
#(3)-quem tem verde, amarelo, azul e branco na bandeira
#------------------------------------------------------
#separa as cores
verde = flags['green']
amarelo = flags['gold']
azul = flags['blue']
branco = flags['white']
soma = verde + amarelo + azul + branco
#gera vetor booleano com True para quem tem as 4 cores
tem_todas = (soma==4)
#imprime os nomes dos países com as quatro cores
print('países com verde, amarelo, azul e branco:')
print(flags[tem_todas.values]['name'])

head():
             name  landmass  zone  area  population  language  religion  bars  \
0     Afghanistan         5     1   648          16        10         2     0
1         Albania         3     1    29           3         6         6     0
2         Algeria         4     1  2388          20         8         2     2
3  American-Samoa         6     3     0           0         1         1     0
4         Andorra         3     1     0           0         6         0     3

   stripes  colours  ...  saltires  quarters  sunstars  crescent  triangle  \
0        3        5  ...         0         0         1         0         0
1        0        3  ...         0         0         1         0         0
2        0        3  ...         0         0         1         1         0
3        0        5  ...         0         0         0         0         1
4        0        3  ...         0         0         0         0         0

   icon  animate text  topleft  botright
0     1        0    0    black     green
1     0        1    0      red       red
2     0        0    0    green     white
3     1        1    0     blue       red
4     0        0    0     blue       red

[5 rows x 30 columns]
-----------------------------------------------
              name  landmass  zone  area  population  language  religion  \
189  Western-Samoa         6     3     3           0         1         1
190     Yugoslavia         3     1   256          22         6         6
191          Zaire         4     2   905          28        10         5
192         Zambia         4     2   753           6        10         5
193       Zimbabwe         4     2   391           8        10         5

     bars  stripes  colours  ...  saltires  quarters  sunstars  crescent  \
189     0        0        3  ...         0         1         5         0
190     0        3        4  ...         0         0         1         0
191     0        0        4  ...         0         0         0         0
192     3        0        4  ...         0         0         0         0
193     0        7        5  ...         0         0         1         0

     triangle  icon  animate text  topleft  botright
189         0     0        0    0     blue       red
190         0     0        0    0     blue       red
191         0     1        1    0    green     green
192         0     0        1    0    green     brown
193         1     1        1    0    green     green

[5 rows x 30 columns]
-----------------------------------------------
países com verde, amarelo, azul e branco:
17                       Belize
19                      Bermuda
23                       Brazil
24         British-Virgin-Isles
26                     Bulgaria
33               Cayman-Islands
34     Central-African-Republic
48                     Dominica
56           Falklands-Malvinas
57                         Fiji
71                         Guam
78                    Hong-Kong
116                  Montserrat
135                     Parguay
139                    Portugal
142                     Romania
151             Soloman-Islands
158                   St-Helena
161                  St-Vincent
176         Turks-Cocos-Islands
182             US-Virgin-Isles
187                   Venezuela
Name: name, dtype: object